<div class="row">
    <a href="todo">
        <mat-card>
            <mat-card-header>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task"></mat-icon>
            </mat-card-header>
            <mat-card-content>TO-DO</mat-card-content>
        </mat-card>
    </a>
    <a href="gridster">
        <mat-card>
            <mat-card-header>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task"></mat-icon>
            </mat-card-header>
            <mat-card-content>GRIDSTER</mat-card-content>
        </mat-card>
    </a>
    <a href="board">
        <mat-card>
            <mat-card-header>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task"></mat-icon>
            </mat-card-header>
            <mat-card-content>BOARD</mat-card-content>
        </mat-card>
    </a>
</div>